<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <% if !user_signed_in? %>
      <%= link_to 'Timetable Generator', root_path, class:"navbar-brand"%>
    <% else %>
      <%= link_to 'Timetable Generator', home_index_path, class:"navbar-brand"%>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to 'Home', home_index_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'Department', branches_path, class:"dropdown-item"%>
            <%= link_to 'Faculties', faculties_path, class:"dropdown-item"%>
            <%= link_to 'Subjects', subjects_path, class:"dropdown-item"%>
          </div>
        </li>
        <% if !user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Log in', new_user_session_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path, class:"nav-link" %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Log out', destroy_user_session_path, class:"nav-link" , method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
